body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
}
.btn {
  outline: none;
  border: none;
  background: none;
  padding: 10px 16px;
}
.img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===================Small navebar=============== */
#small-navebar {
  position:sticky;
  top: 5.5em;
  z-index: 1;
  background-color: var(--light-gray);
  margin-top: 5.5em;
  padding: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
#small-navebar ul {
  display: flex;
  justify-content: baseline;
  align-items: center;
  
}
#small-navebar ul li a {
  color: var(--gray);
  font-family: var(--body-font);
  margin-left: 1rem;
  padding: 0.9rem;
}
#small-navebar ul li a:hover {
  color: var(--blue);
  border-bottom: 3px solid var(--blue);
}

/* ==============Companies details=============== */
.companies-details {
  width: 100%;
  background-color: #e8f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.companies-details .rate-details h2 {
  font-family: var(--body-font);
  font-size: 1.4rem;
}
.companies-details .rate-details p,
h5 {
  font-family: var(--body-font);
  color: var(--gray);
  padding: 1rem 0rem;
}
.companies-details .rate-details .small-companies i {
  font-family: var(--body-font);
  font-size: 1rem;
}
.companies-details .rate-details .small-companies button {
  border: 1px solid var(--blue);
  cursor: pointer;
  border-radius: 30px;
  background-color: var(--blue);
  color: var(--light);
  font-family: var(--body-font);
}
.companies-details .rate-details .small-companies a {
  border: 1px solid var(--blue);
  background-color: var(--light);
  border-radius: 30px;
  color: var(--blue);
  padding: 0.5rem 0.5rem;
  margin-left: 1rem;
  font-family: var(--body-font);
}
.companies-details .rate-details .small-companies a:hover {
  background-color: var(--blue);
  color: var(--light);
}
.companies-details .companies-img {
  width: 16rem;
  height: 12rem;
  background-image: url(../images/company\ logo/emp-test.png);
}

#com-rate {
  width: 100%;
  background-color: var(--light);
  padding: 1em 5em;
}
#com-rate .search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#com-rate .search-bar .com-search {
  width: 80%;
  height: 7vh;
  background-color: var(--light);
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1.3px solid var(--gray);
}

#com-rate .search-bar .com-search > i {
  font-size: 1.4rem;
  color: var(--blue);
}
#com-rate .search-bar .com-search > input {
  flex: 1;
  height: 6vh;
  border: var(--border);
  outline: var(--outline);
}
#com-rate .search-bar .com-type {
  width: 100%;
  display: flex;
  padding: 0.7rem;
  margin-left: 4em;
}
#com-rate .search-bar .com-type select {
  margin: 0rem 0.6rem;
  width: 60%;
  padding: 0.7rem;
  border: var(--border);
  outline: var(--outline);
  border: 1.2px solid var(--gray);
  border-radius: 3px;
}
#com-rate .search-bar .com-type select:focus {
  border: 1.2px solid var(--blue);
}

#com-rate .sort-by ul {
  width: 100%;
  height: 9vh;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--light-gray);
}
#com-rate .sort-by ul li {
  color: var(--gray);
  margin-left: 2rem;
  font-size: 1rem;
  padding: 1rem 0rem;
  font-family: var(--body-font);
}
#com-rate .sort-by ul li a {
  color: var(--gray);
  font-family: var(--body-font);
}
#com-rate .sort-by ul li:hover {
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
}
#companies-cards-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#companies-cards-wrapper .companies-cards {
  width: 100%;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}
#companies-cards-wrapper .companies-cards .cards-wrap {
  width: 33%;
  padding: 1rem;

  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  border-radius: 3px;
}

#companies-cards-wrapper .companies-cards .cards-wrap #logo-wrapper {
  display: flex;
  align-items: center;
}
#companies-cards-wrapper .companies-cards .cards-wrap #logo-wrapper img {
  width: 80px;
  height: 80px;
}
#companies-cards-wrapper .companies-cards .cards-wrap #logo-wrapper .com-logo {
  width: 80px;
  height: 80px;
  /* background-image: url("../images/company\ logo/alokozay.jpg"); */
  border: 1px solid var(--light-gray);
}
#companies-cards-wrapper
  .companies-cards
  .cards-wrap
  #logo-wrapper
  .com-job-deatils {
  padding: 1rem 1rem;
}
#companies-cards-wrapper
  .companies-cards
  .cards-wrap
  #logo-wrapper
  .com-job-deatils
  .card-stars,
span {
  color: var(--success);
  font-size: 1.3rem;
}
#companies-cards-wrapper
  .companies-cards
  .cards-wrap
  #logo-wrapper
  .com-job-deatils
  .card-lin
  a {
  color: var(--blue);
  font-weight: 700;
}
#companies-cards-wrapper
  .companies-cards
  .cards-wrap
  #logo-wrapper
  .com-job-deatils
  .card-lin
  .a-border {
  border-left: 2px solid var(--light-gray);
  padding-left: 0.2rem;
}
#companies-cards-wrapper .companies-cards .cards-wrap .card-icon {
  width: 100%;
  display: flex;
  color: var(--gray);
}
#companies-cards-wrapper .companies-cards .cards-wrap .card-icon p {
  font-family: var(--body-font);
  font-size: 0.9rem;
  padding-left: 0.5rem;
}
#com-rate #rate-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8f9f9;
  padding: 1.2rem 5rem;
  margin-top: 1rem;
}
#com-rate #rate-section .rate-section-img {
  width: 80px;
  height: 80px;
  background-image: url("../images/company\ logo/rate_latter.jpg");
  padding: 1rem;
}
#com-rate #rate-section h3 {
  font-family: var(--body-font);
  font-size: 1rem;
  font-weight: 800;
  margin: 0rem 1rem;
}
#com-rate #rate-section .rate-section-stars {
  display: flex;
  background-color: var(--light);
  font-size: 1.2rem;
  color: var(--blue);
}

  /* ===============rate your employer=========== */
  #com-rate #Rate-your-Employer {
    width: 100%;
    margin: 1.5em auto;
    padding: 1em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    
  }
  #com-rate #Rate-your-Employer div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #com-rate #Rate-your-Employer div h5,
  img {
    margin-right: 1em;
  }
  #com-rate #Rate-your-Employer img {
    width: 100px;
    height: 80px;
  }

  /* ============Pagenation=================== */
#com-rate #pageniation-wraper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
#com-rate #pageniation-wraper .pagination {
  display: flex;
  align-items: center;
}
#com-rate #pageniation-wraper .pagination ul {
  margin: 10px 20px;
}
#com-rate #pageniation-wraper .pagination ul li {
  display: inline-block;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 45px;
  cursor: pointer;
  background-position: 0 -45px;
  transition: 0.5s;
}
#com-rate #pageniation-wraper .pagination ul li.active {
  color: var(--light-gray);
  background-color: var(--blue);
  background-position: 0 0;
}
#com-rate #pageniation-wraper .pagination .btn1,
.btn2 {
  display: inline-flex;
  align-items: center;
  color: var(--gray);
  cursor: pointer;
}

/* ============ Rating part========== */
#com-rate .rate-wrapper{
  width:60%;
  height: 70vh;
  visibility:scroll;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto;
  border-radius: 3px;
  padding: 1rem;
  position: fixed;
  top: 120px;
  left: 250px ;
  z-index: 2;
  background-color: var(--light);

}
#com-rate .hide{
  display: none;
}
#com-rate .rate-wrapper #rating{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid var(--light-gray);

}
#com-rate .rate-wrapper #rating h3{
  margin-bottom: 1rem;

}
#com-rate .rate-wrapper #rating .escape-btn{
  font-size: 1.3rem;
  color: var(--gray);


}
#com-rate .rate-wrapper #rating-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
}
#com-rate .rate-wrapper #rating-details .rate-image{
  width: 100px;
  height: 100px;
  background-image: url('../images/company\ logo/rating.jpg');
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
#com-rate .rate-wrapper .work-experiance{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0;
}
#com-rate .rate-wrapper .work-experiance .Add-experiance{
  color: var(--light);
  background-color: var(--blue);
  border-radius: 30px;
  font-weight: 600;
  margin-bottom: 1rem;
  cursor: pointer;
}
#com-rate .rate-wrapper .work-experiance .not-experience{
  color: var(--gray);
}
#com-rate .rate-wrapper .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300%;
  background-color: rgba(0, 0, 0, 0.4);


}

/* For devices with a maximum width of 768px */
@media (max-width: 768px) {
  #small-navebar ul li {
    width: 100%;
    font-size: 0.7rem;
    text-align: center;
  }
  .companies-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  #com-rate {
    padding: 1rem;
  }
  #com-rate .search-bar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  #com-rate .search-bar .com-search {
    width: 100%;
  }
  #com-rate .search-bar .com-type {
    width: 100%;
    margin-right: 3rem;
  }
  #companies-cards-wrapper .companies-cards {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  #companies-cards-wrapper .companies-cards .cards-wrap {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
  }
}

/* For devices with a maximum width of 480px */
@media (max-width: 480px) {
  #small-navebar ul li {
    width: 100%;
    font-size: 0.7rem;
    text-align: center;
  }
  .companies-details {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .companies-details .rate-details .small-companies button,
  a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0rem;
    padding: 0;
  }

  #com-rate {
    width: 100%;
    padding: 1rem;
  }
  #com-rate .search-bar .com-search {
    width: 100%;
  }
  #com-rate .search-bar .com-search input {
    width: 100%;
  }
  #com-rate .search-bar .com-type {
    flex-direction: column;
    width: 100%;
    margin-right: 5rem;
  }
  #com-rate .search-bar .com-type select {
    width: 100%;
  }
  #com-rate .sort-by {
    padding: 0;
  }
  #com-rate #pageniation-wraper {
    display: flex;
    flex-direction: column;
  }
}
